<footer>
    <div class="container">
        <nav class="menu-footer">
            <ul class="text-center">
                <li><a href="/resources/sermons/">Проповеди церкви</a></li>
                <li><a href="/resources/future-events/">Предстоящие события</a></li>
                <li><a href="/resources/contacts/">Оставьте отзыв</a></li>
            </ul>         
        </nav>
        <address class="text-center">
            <p>Церковь "Благодать", переулок Партизанский 4Б, Харьков, Украина</p>
            <p><a href="mailto:info@grace.kharkov.ua">info[at]grace.kharkov.ua</a> ‎(057)265-26-34 </p>
        </address>
    </div>
</footer>